<div class="container">
    <h1>Pagrindinis</h1>
    <blockquote>
        <p>Ši svetainė rodo atsitiktinius judančius paveikslėlius. Norint juos pamatyti spauskite <b>"Judantis paveikslelis"</b>.</p>
    </blockquote>
</div>